.idea/
.env
.gradio
.DS_Store/
*/data
*/db
*/__pycache__/
*.pyc
*.ipynb_checkpoints/
*.log
*/.DS_Store
.vscode/
__pypackages__/
output/
output-*/
models/
runs/
checkpoints/
temp/
temp-*/
logs/
.DS_Store
db/products_vectorstore/chroma.sqlite3